* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 42%,
    rgba(31, 31, 97, 1) 100%
  );
}
.search {
  font-size: 20px;
  color: white;
}

hr {
  background-color: rgb(131, 58, 180);
  background-color: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.btn-sm.form-control-sm {
  font-size: 10px;
}

#movie-list {
  font-size: 20px;
}

.uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
